<!--Search alanı-->
<mat-card>
  <mat-card-content style="width:140%">
    <mat-form-field style="width:200px; ">

      <input matInput placeholder="TEKLİF NO" >
    </mat-form-field>
    <mat-form-field style="width: 200px; ">
      <input matInput placeholder="MÜŞTERİ">
    </mat-form-field>
    <mat-form-field style="width: 200px; ">
      <input matInput placeholder="ŞEHİR">
    </mat-form-field>
    <mat-form-field style="width: 200px; ">
      <input matInput placeholder="OLUŞTURMA TARİHİ">
    </mat-form-field>
    <mat-form-field style="width:200px;">
      <input matInput placeholder="GÜNCELLEME TARİHİ">
    </mat-form-field>

    <button mat-raised-button color="primary" style="width:5%; margin-right: 10px;">
      Ara
      <mat-icon>search</mat-icon>
    </button>

    <button mat-raised-button color="primary" style="width:5%">
      Ekle
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>




  <!-- planned-list.component.html -->
  <!--<ngx-datatable class='material'
                 [rows]="data"
                 [columnMode]="'flex'">-->
  <!-- Diğer ngx-datatable-column ayarları -->
  <!--<ngx-datatable-column name="TEKLİF NO" [flexGrow]="0.4">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span>{{ row.teklifNo  }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="MÜŞTERİ" [flexGrow]="0.3">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span>{{ row.musteri  }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ŞEHİR" [flexGrow]="0.6">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span>{{ row.sehir  }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="OLUŞTURMA TARİHİ" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span>{{ row.olusturmaTarihi }}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="GÜNCELLEME TARİHİ" [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span>{{ row.guncellemeTarihi }}</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>-->

<!--<table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Job Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of data">
      <td>{{group.id}}</td>
      <td>{{group.name}}</td>
      <td>{{group.email}}</td>
      <td>{{group.job_title}}</td>
    </tr>
  </tbody>
</table>-->




