<div class="Constain" style="background-color: #87CEFA">
  <mat-form-field class="example-form-field" style="margin-left:250px;width:50%">
    <mat-label>SİPARİŞ NUMARASI</mat-label>
    <input matInput type="text" #inputElement>

    <button matSuffix mat-icon-button aria-label="Search" (click)=" onSearchClick()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Sütun tanımları -->
    <ng-container matColumnDef="DATANAME">
      <mat-header-cell *matHeaderCellDef>FORM İÇERİĞİ</mat-header-cell>
      <mat-cell *matCellDef="let item">Sipariş Numarası</mat-cell>
      <mat-cell>  Müşteri</mat-cell>
    </ng-container>

    <ng-container matColumnDef="DATA1">
      <mat-header-cell *matHeaderCellDef>PLANLANAN</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.salesOfferNumber1 }}</mat-cell>
    
    </ng-container>

    <ng-container matColumnDef="DATA2">
      <mat-header-cell *matHeaderCellDef>GERÇEKLEŞEN</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.salesOfferNumber2 }}</mat-cell>
     
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>



  <button mat-button aria-label="YAZDIR" style="border:double;background-color:aliceblue;width:10%;margin-left:900px">
    <mat-icon>print</mat-icon>
  </button>

</div>

