
<div class="exit" style="margin-left:1000px">
  <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="PlannedOfferForm">

  <div class="head-info" style="border: double; width: 90%; background-color: #C0C0C0; margin-bottom: 30px; margin-top: 30px;">

    <tr>
      <td>
        <mat-form-field style="">
          <mat-label>TEKLİF NO</mat-label>
          <input matInput formControlName="salesOfferNumber">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style=" ">
          <mat-label>MÜŞTERİ</mat-label>
          <input matInput formControlName="customerName">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="">
          <mat-label>ŞEHİR</mat-label>
          <input matInput formControlName="customerCity">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="">
          <mat-label>TARİH</mat-label>
          <input matInput formControlName="createdDate">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="">
          <mat-label>GÜNCEL KUR</mat-label>
          <input matInput formControlName="exchangeRate">
        </mat-form-field>
      </td>
    </tr>
  </div>









  <div class="yevmiye-info" style="border: double; background-color: #C0C0C0; width: 90%; margin-bottom: 30px;">
    <table class="example-full-width" cellspacing="0" style="margin: 0;">
      <tr>
        <td>
          <mat-form-field style="">
            <mat-label>TEKLİF TONAJI</mat-label>
            <input matInput formControlName="offerTonnage">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="">
            <mat-label>ZAYİAT ORANI*</mat-label>
            <input matInput formControlName="casualtyRate">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field style="margin:0px;">
            <mat-label>GERÇEK TONAJ</mat-label>
            <input matInput formControlName="reallyTonnage">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="margin:0;">
            <mat-label>GÜNLÜK TONAJ</mat-label>
            <input matInput formControlName="dailyTonnage">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field style="margin:0;">
            <mat-label>SAHA MÜH. ÜCRETİ</mat-label>
            <input matInput formControlName="fieldEngineerCost">
          </mat-form-field>
        </td>
      </tr>
    </table>



    <table class="example-full-width" cellspacing="0" style="margin: 0;">
      <tr>
        <td>
          <mat-form-field style="">
            <mat-label>BİRİM YEVMİYE TUTARI </mat-label>
            <input matInput formControlName="dailyWageCost">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="">
            <mat-label>ÇALIŞAN SAYISI</mat-label>
            <input matInput formControlName="dailyWageAmount">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="">
            <mat-label>GÜN SAYISI</mat-label>
            <input matInput formControlName="numberDays">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="">
            <mat-label>İSG ÜCRETİ </mat-label>
            <input matInput formControlName="isgexpertCost">
          </mat-form-field>
        </td>

        <td style="background-color:yellow">
          <mat-form-field>
            <mat-label>TOP. YEVMİYE MALİYETİ</mat-label>
            <input matInput formControlName="wageTotalCost">
          </mat-form-field>
        </td>
      </tr>
    </table>

  </div>

 





  <div class="example-container">
    <div class="kiralama-info" style="border: double; background-color: #C0C0C0; width: 90%; margin-bottom: 30px;">
      <table>
        <tr>

          <td>
            <mat-form-field>
              <mat-label>KİRALANAN EKİPMAN</mat-label>
              <select matNativeControl formControlName="rentedEquipmentName" required>
                <option value="NONE">---</option>
                <option value="forklift">FORKLİFT</option>
                <option value="menlift">MENLİFT</option>
                <option value="reachtruck">REACH TRUCK</option>
                <option value="vinc">VİNÇ</option>
              </select>
            </mat-form-field>

          </td>
          <td>
            <!--<mat-form-field style="">
              <mat-label>GÜNLÜK MALİYETİ</mat-label>
              <input matInput formControlName="rentedEquipmentDailyCost">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="">
              <mat-label>AYLIK MALİYETİ</mat-label>
              <input matInput formControlName="rentedEquipmentMonthlyCost">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="">
              <mat-label>ADETİ</mat-label>
              <input matInput formControlName="rentedEquipmentAmount">
            </mat-form-field>
          </td>

          <td>
            <mat-form-field style="">
              <mat-label>TOP. MALİYET</mat-label>
              <input matInput formControlName="rentedEquipmentTotalCost">
            </mat-form-field>
          </td>-->

        <!--</tr>
      </table>
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>KİRALANAN EKİPMAN</mat-label>
              <select matNativeControl formControlName="kiralikEkipmanAdi" required>
                <option value="NONE">---</option>
                <option value="forklift">FORKLİFT</option>
                <option value="menlift">MENLİFT</option>
                <option value="reachtruck">REACH TRUCK</option>
                <option value="vinc">VİNÇ</option>
              </select>
            </mat-form-field>

          </td>
          <td>
            <mat-form-field style="">
              <mat-label>GÜNLÜK MALİYETİ</mat-label>
              <input matInput formControlName="kiralikGunlukUcret">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="">
              <mat-label>AYLIK MALİYETİ</mat-label>
              <input matInput formControlName="kiralikAylikUcret">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="">
              <mat-label>ADETİ</mat-label>
              <input matInput formControlName="kiralikAdet">
            </mat-form-field>
          </td>

          <td>
            <mat-form-field style="">
              <mat-label>TOP. MALİYET</mat-label>
              <input matInput formControlName="kiralıkTopUcret">
            </mat-form-field>
          </td>


        </tr>
      </table>
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>KİRALANAN EKİPMAN</mat-label>
              <select matNativeControl formControlName="kiralikEkipmanAdi" required>
                <option value="NONE">---</option>
                <option value="forklift">FORKLİFT</option>
                <option value="menlift">MENLİFT</option>
                <option value="reachtruck">REACH TRUCK</option>
                <option value="vinc">VİNÇ</option>
              </select>
            </mat-form-field>

          </td>
          <td>
            <mat-form-field style="">
              <mat-label>GÜNLÜK MALİYETİ</mat-label>
              <input matInput formControlName="kiralikGunlukUcret">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="">
              <mat-label>AYLIK MALİYETİ</mat-label>
              <input matInput formControlName="kiralikAylikUcret">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="">
              <mat-label>ADETİ</mat-label>
              <input matInput formControlName="kiralikAdet">
            </mat-form-field>
          </td>

          <td>
            <mat-form-field style="">
              <mat-label>TOP. MALİYET</mat-label>
              <input matInput formControlName="kiralıkTopUcret">
            </mat-form-field>
          </td>


        </tr>
      </table>
      <table>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>KİRALANAN EKİPMAN</mat-label>
              <select matNativeControl formControlName="kiralikEkipmanAdi" required>
                <option value="NONE">---</option>
                <option value="forklift">FORKLİFT</option>
                <option value="menlift">MENLİFT</option>
                <option value="reachtruck">REACH TRUCK</option>
                <option value="vinc">VİNÇ</option>
              </select>
            </mat-form-field>

          </td>
          <td>
            <mat-form-field style="">
              <mat-label>GÜNLÜK MALİYETİ</mat-label>
              <input matInput formControlName="kiralikGunlukUcret">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="">
              <mat-label>AYLIK MALİYETİ</mat-label>
              <input matInput formControlName="kiralikAylikUcret">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field style="">
              <mat-label>ADETİ</mat-label>
              <input matInput formControlName="kiralikAdet">
            </mat-form-field>
          </td>

          <td>
            <mat-form-field style="">
              <mat-label>TOP. MALİYET</mat-label>
              <input matInput formControlName="kiralıkTopUcret">
            </mat-form-field>
          </td>


        </tr>-->
      </table>





      <!-- Nakliye Maliyeti -->
      <table>
        <tr>
          <td>
            <mat-form-field style="">
              <mat-label>NAKLİYE MALİYETİ</mat-label>
              <input matInput formControlName="equipmentShipmentCost">
            </mat-form-field>
          </td>
          <!--<td>
            <mat-form-field style="background-color:yellow">
              <mat-label>TOP. EKİPMAN MALİYET</mat-label>
              <input matInput formControlName="equipmentSumCost">
            </mat-form-field>
          </td>-->
        </tr>
      </table>
    </div>
  </div>

  <div class="konak-info" style="border: double; background-color: #C0C0C0; width: 90%; margin-bottom: 30px;">
    <!-- Konaklama ve Yemek Maliyeti -->
    <table>
      <tr>
        <td>
          <mat-form-field style="">
            <mat-label>KONAK. BR. MALİYET</mat-label>
            <input matInput formControlName="accommodationUnitPrice">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="background-color:yellow">
            <mat-label>TOP. KONAK. MALİYET</mat-label>
            <input matInput formControlName="accommodationTotalPrice">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="">
            <mat-label>YEMEK BR.MALİYET</mat-label>
            <input matInput formControlName="staffMealUnitPrice">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="background-color:yellow">
            <mat-label>TOP. YEMEK MALİYET</mat-label>
            <input matInput formControlName="staffMealTotalPrice">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="background-color:yellow">
            <mat-label>ARABA YAKIT MALİYET</mat-label>
            <input matInput formControlName="totalCarFuelCost">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <!-- Montaj Maliyeti -->
    <table>
      <tr>
        <td>
          <mat-form-field style="width:100%; margin-right:40px;background-color:red;">
            <mat-label>TOP. MONTAJ MALİYET(TL)</mat-label>
            <input matInput formControlName="installationTotalCost">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%; margin-right: 40px; background-color: red;">
            <mat-label>TOP. MONTAJ MALİYET(USD)</mat-label>
            <input matInput formControlName="installationTotalCostCurrency">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>

  <div class="nakliye-info" style="border: double; background-color: #C0C0C0; width: 90%; margin-bottom: 40px;">
    <!-- Nakliye Maliyeti -->
    <table>
      <tr>
        <td>
          <mat-form-field style="">
            <mat-label>TIR ADETİ</mat-label>
            <input matInput formControlName="numberTrucksUsed">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>TIR BİRİM MALİYET</mat-label>
            <input matInput formControlName="truckUnitPrice">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%; margin-right: 40px; background-color: red;">
            <mat-label>TOP. NAKLİYE MALİYET(TL)</mat-label>
            <input matInput formControlName="shippingTotalCost">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%; margin-right: 40px; background-color: red;">
            <mat-label>TOP. NAKLİYE MALİYET(USD)</mat-label>
            <input matInput formControlName="shippingTotalCostCurrency">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>




  <div class="buttons" style=" width: 20%; margin-bottom: 30px; margin-left:900px">

    <button mat-raised-button color="warn" style="width:20%; margin-right: 40px; ">SİL</button>
    <button mat-raised-button color="primary" style="width: 30%;">KAYDET</button>

  </div>

</form>


