<div class="custom-dialog">
  <h2 mat-dialog-title class="dialog-title">HATA</h2>
  <div mat-dialog-content>
    <h1>KAYIT YAPILAMADI</h1>
    <p>Lütfen Formdaki Zorunlu Alanları Kontrol Ediniz.</p>
    
    <li class="list">
      Zorunlu Alanlar:
      <ol>
        <li>Teklif Numarası</li>
        <li>Müşteri Adı</li>
        <li>Şehir</li>
        <li>Teklif Tonajı</li>
        <li>Günlük Tonaj</li>
        <li>Birim Yevmiye Tutarı</li>
        <li>Çalışan Sayısı</li>
      </ol>
    </li>
   
 
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Tamam</button>
  </div>
</div>
